@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap");
@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 6.67%;
    --foreground: 0 0% 93.33%;
    --muted: 0 0% 13.33%;
    --muted-foreground: 0 0% 70.59%;
    --popover: 0 0% 9.8%;
    --popover-foreground: 0 0% 93.33%;
    --card: 0 0% 9.8%;
    --card-foreground: 0 0% 93.33%;
    --border: 44 14% 11%;
    --input: 0 0% 28.24%;
    --primary: 360 76.74% 47%;
    --primary-foreground: 29.51 0% 100%;
    --secondary: 360 35.31% 42.07%;
    --secondary-foreground: 49.81 0% 100%;
    --accent: 0 0% 16.47%;
    --accent-foreground: 0 0% 93.33%;
    --destructive: 360 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 360 59.8% 40%;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #374151 transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #374151;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #4b5563;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: gray-700 transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: gray-700;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: gray-600;
  }
}

@layer base {
  * {
    @apply font-sans border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
